/* .googleLogin-button-col {
   margin-top: 10%;
} */

.login-button {
   margin-top: 150px;
   margin-left: 16px;
   margin-right: 16px;
}

.register-button {
   margin-top: 50px;
   margin-left: 16px;
   margin-right: 16px;
}